.open-item{
	font-size: 16px;
	background-color: #fff;
	padding: 0.3rem;
	border-bottom: 1px solid #ccc;
}
.time-item{
	display: inline-block;
	margin-left: 0.8rem;
}
.select-time{
	display: inline-block;
	height: 0.8rem;
	line-height: 0.8rem;
}
.time-content{
	display: inline-block;
	height: 0.8rem;
	border: 1px solid #ccc;
	width: 1.6rem;
	vertical-align: top;
	text-align: center;
}
