body {
	margin: 0;
	background: #ebebeb;
}

a{
	color: black;
}

.head {
	background: #2ca5db;
	width: 100%;
	
}

h4 {
	text-align: center;
	margin: 0;
	color: white;
	padding: 15px 0 0 0;
}

.search {
	width: 100%;
	height: 0.78rem;
	line-height: 0.78rem;
	text-indent: 0.24rem;
	border: none;
}
#search-btn{
	cursor: pointer;
}
.searchimg {
	width: 0.78rem;
	height: 0.78rem;
	display: inline-block;
	position: absolute;
	right: 0rem;
	top: 0.19rem;
	/*display: inline-block;*/
	/*margin: 0 0 -5px -40px;*/
}
.search-icon{
	width: 0.35rem;
	height: 0.36rem;
	margin-right: 0.21rem;
}
.ranking {
	margin: 0 0 0 20px;
	width: 0.33rem;
	height: 0.24rem;
	display: inline-block;
}

.p2 {
	margin-top: -7%;
	color: #fff;
	font-size: 13px;
	
}

.div2 {
	background: white;
	padding-top: 10px;
	margin-bottom: 10px;
}

ul {
	text-align: center;
	background: white;
	margin: 0;
	padding: 10px 0 0 0;
}

.input2 {
	font-size: 0.9rem;
	background: #ffffff ;
	border: 1px solid #E0E0E0;
	padding: 5px 10px;
	margin-left: 84px;
	border-radius: 30px;
}

.input3 {
	font-size: 0.9rem;
	background: #209FD8;
	border: none;
	color: white;
	padding: 5px 20px;
	margin-bottom: 10px;
	border-radius: 30px;
}

.li-after{
	position: relative;
}
.li-after:after{
	content: '';
	width: 100%;
	height: 10px;
	content:"";
	background-color: #ebebeb;
}

.subheading {
	display: inline-block;
	list-style: none;
	color: #666666;
	width: 64px;
	height: 30px;
}

.color {
	color: #209FD8;
	border-bottom: 2px solid #209FD8;
}

.shopname {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.address {
	margin-top: 0;
	margin-bottom: 10px;
	color: #808080;
}

.interval {
	display: inline-block;
	background: #f4f4f6;
	padding: 2px;
	color: #808080;
	font-size: 11px;
}

.favourable {
	margin-top: 0;
	margin-bottom: 0;
	color: #51aedd;
	font-size: 0.8rem;
}

.lookup {
	font-size: 14px;
	vertical-align: top;
	line-height: 0.72rem;
	display: inline-block;
	margin-left: 2px;
	color: #333333;
	
}
.record-style{
	text-decoration: none;
	width: 2.18rem;
	height: 0.72rem;
	line-height:0.72rem;
	text-align: center;
	display:inline-block;
	background: #ffffff;
	border: 1px solid #E0E0E0;
	border-radius: 0.36rem;
}
.way-style{
	text-decoration: none;
	width: 2.18rem;
	height: 0.72rem;
	line-height:0.72rem;
	text-align: center;
	display:inline-block;
	background: #209FD8;
	border-radius: 0.36rem;
	color: #fff;
}
.select {
	border-top: 1px solid #e0e0e0;
	width: 340px;
	padding: 20px 0;
	margin-bottom: 0;
}

.a {
	color: black;
	border: none;
}

.d {
	margin-left: 10px;
	margin-right: 5px;
	background-color: white;
}

.hide {
	padding-bottom: 20px;
	margin-left: 10px;
	margin-right: 5px;
	display: none;
}
#menu-list .mui-active{
	font-weight: bold;
	color: #209fd8!important;
	position: relative;
	border-bottom: none!important;
}
#menu-list .mui-active:after{
	content: '';
	width: 22px;
	height: 2px;
	background-color: #209fd8;
	position: absolute;
	bottom: 0;
	left: calc(50% - 11px);
}
